.quizMain{
    width: 600px;
    height: 90%;
    background-color: #FFFFFF;
}
button{
    outline: none;

}

.quizBody{
    height: 98%;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
}

.questionInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionInfo h1, .questionInfo p {
  margin: 0px;
  padding: 0px;
}

.question{
    flex: 1;
}

.question p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.questionOption{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.optionButton {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
    
.options{
    height: 30px;
    width: 200px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.7em;
}

.correctOption{
    height: 30px;
    width: 200px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.7em;
    background-color: #FFFFFF ;
    color:black
}

.selectedOption{
    height: 30px;
    width: 200px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.7em;
    background-color: black ;
    color:#FFFFFF
}


.showMessage{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showMessage button{
    width : 200px;
    height: 35px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 15px;
}

.showMessage p{
    font-size: 20px;
    font-weight: bold;
}

.scoreArea{
    flex: 1;
    display: flex;
}