
.scoreMain{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scoreBar{
    height: 30px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid;
}

.score {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.score label{
    padding: 2px 10px;
    font-weight: bold;
}

.black{
    background-color: black;
    width: 50%;
    height: 100%;
    margin-top: -30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.gray{
    background-color: gray;
    width: 70%;
    height: 30px;
    margin-top: -30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.lightGray{
   background-color: lightgray;
   width: 90%;
   height: 30px;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
}